<p id="notice"><%= notice %></p>

<p>
  <strong>Sentence:</strong>
  <%= @question.sentence %>
</p>

<p>
  <strong>Company:</strong>
  <%= @question.company %>
</p>

<%= link_to 'Edit', edit_company_question_path(@question.company, @question) %> |
<%= link_to 'Back', company_questions_path( @question.company ) %>
